body {
  background-color: blue;
}

.ball {
  width: 200px;
  height: 200px;
  background-color: yellow;
  margin: auto;
  position: relative;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 449px;
    width: 230px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}
